.tdb-title-text{
    display: inline-block;
    position: relative;
    margin: 0;
    word-wrap: break-word;
    font-size: 20px;
    line-height: 38px;
    font-weight: 700;
    text-align: left;
}

.r-nested-title{
    display: inline-block;
    text-decoration: underline; 
    margin: 0;
    word-wrap: break-word;
    font-size: 22px;
    line-height: 38px;
    font-weight: 700;
    color: #b91871;
    font-family: "Cormorant Unicase", serif;
}

.thanks-note{
    display: inline-block;
    margin: 0;
    word-wrap: break-word;
}

.r-suru{
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: underline; 
}

.r-link{
    color: green;
    text-decoration: underline; 
    word-wrap: break-word;
    font-size: 15px;
    font-weight: 700;
}

.scrol{
    overflow-x: hidden;
    overflow-y: auto;
}

.ss{
    width: 100%;
    height: 100%;
    margin: 20px;
}

.ssH{
    width: 60%;
    height: 500px;
    margin: 10px;
}